@page "/call/the/api"
<p>Este es el resultado de la llamada a la API</p>
<div class="card">
    <div class="card-header">
        Respuesta de la API
    </div>
    <div class="card-body">
        <p class="response-content">
            @APIResponse
        </p>
    </div>
</div>
